body{
    display: flex;
    flex-direction: row; /* El column marca la dirección del flex en vertical, el row marca la dirección en horizontal */
    min-height: 400px;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color: crimson;
    border: 2px solid black;
    color: white;
    flex-grow: 1;
}
